@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
	font-family: 'Quicksand', sans-serif;
	height: 100vh;
	margin: 0;
	background-color: beige;
}

h1 {
	font-weight: bold;
	text-decoration: underline;
}

h2 {
	font-style: italic;
}